.App {
 margin:0;
 padding: 0;
 flex: 1;
 text-align: center;
}

.inputClass {
  height: 100vh; /* Magic here */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input {
  margin-bottom: 20px;
  background-color: #282c34;
  color: white;
  width: 75%;
}
.downloadButton {
  color: #282c34;
  background-color:#61dafb;
  border: none;
}
.downloadButton:hover {
  background-color: #282c34;
  color: #61dafb;
}
.label {
  color: #61dafb;
  font-size: 32px;
}